# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.md]
max_line_length = 160

[*.{kt,kts}]
max_line_length = 160

ktlint_code_style = ktlint_official
ktlint_function_naming_ignore_when_annotated_with=Composable
ktlint_standard_filename = disabled
ktlint_standard_property-naming = disabled

[**/generated/**]
generated_code = true
ij_formatter_enabled = false
ktlint = disabled
