$home-page-container-max-width: 61rem;
$horizontal-inner-padding: 1.5rem;

$home-page-mobile-breakpoint: 750px;

body {
  overflow-y: scroll;
}

body.home-page {
  background: #F9F9F9;
}

h1,
.markdown h1 {
  font-size: 2.125rem;
  font-weight: 550;
}

h2,
.markdown h2  {
  font-weight: 500;
  font-size: 1.5625rem;
}

h3,
.markdown h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

div.home-page {
  padding: 0;

  .markdown {
    > * {
      max-width: $home-page-container-max-width;
      margin-left: auto;
      margin-right: auto;
      padding-left: $horizontal-inner-padding;
      padding-right: $horizontal-inner-padding;
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding-top: 1rem;
      padding-bottom: 1rem;

      h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 650;
        letter-spacing: 0.112rem;
        margin-inline-end: auto;
      }

      a, a:visited {
        text-decoration: none;
        color: rgba(0,0,0,0.45);
        font-size: 1.2rem;
        font-weight: 550;
      }

      a + a {
        margin-left: 1rem;
      }

      @media screen and (max-width: $home-page-mobile-breakpoint) {
        flex-direction: column;
        align-items: center;

        h1 {
          margin-inline-end: 0;
        }

        p {
          padding: 0;
          margin: 0;
        }
      }
    }

    h1 + blockquote {
      margin-bottom: 3rem;
      text-align: center;
      border: none;
      font-style: italic;
      font-size: 1.25rem;
    }

    .main-display-container,
    .sub-display-container {
      margin:0;
      max-width: 100%;
      box-sizing: border-box;

      color: rgba(0,0,0,0.87);

      > * {
        max-width: $home-page-container-max-width;
        margin: 0 auto;
        padding-left: $horizontal-inner-padding;
        padding-right: $horizontal-inner-padding;
      }

      .main-display-inner-container,
      .sub-display-inner-container {
        display: flex;
        flex-direction: row;
        gap: 3rem;

        @media screen and (max-width: $home-page-mobile-breakpoint) {
          gap: 0;
          flex-direction: column;

          .text {
            order: 1;
          }

          .other {
            order: 2;
          }
        }
      }

      .other {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:not(:has(img)) {
          border-radius: 2rem;
        }
      }

      .other.small img {
        max-width: 330px;
      }

      h2 {
        line-height: 1.15;
        font-size: 2.5rem;
        letter-spacing: 0.071rem;
        margin-top: 0;
        margin-bottom: 2rem;

        > .sub {
          margin-top: 0.5rem;
          display: block;
          font-size: 1.25rem;
          font-weight: 600;
          color: rgba(0,0,0,0.5);
        }
      }

      p {
        margin-block-start: 1rem;
        margin-block-end: 0.25rem;
      }

      .text {
        flex: 4 0 0;
      }

      .other {
        flex: 2 0 0;
      }
    }

    .main-display-container {
      background: white;
      padding: 2rem 0 2.5rem;

      p, div.links {
        margin-block-end: 1.25rem;
      }

      div.links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.5rem;
        row-gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 1.5rem;

        picture {
          display: flex;
        }
      }

      a.other-link, a.other-link:visited {
        display: inline-block;
        padding: 0.125rem 0;
        color: #0055bb;
        font-weight: 500;
      }

      .main-display-inner-container {
        padding: 3rem $horizontal-inner-padding 0.75rem;
      }

      @media screen and (max-width: $home-page-mobile-breakpoint) {
        padding: 2rem 0 1.5rem;

        .main-display-inner-container {
          padding: 1rem $horizontal-inner-padding 0;
        }
      }
    }

    .sub-display-container {
      padding: 1rem 0 2rem;

      h2 {
        line-height: 1.15;
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 1rem;
        letter-spacing: 0.051rem;
        padding-top: 0;
      }

      .sub-display-inner-container {
        padding: 2rem $horizontal-inner-padding;
        align-items: center;

        &:first-child h2:first-child {
          padding-top: 0;
        }

        .other {
          padding-left: 2rem;
          padding-right: 2rem;
          flex: 1.7 0 0;
        }

        .other:first-child {
          padding-left: 4rem;
        }

        .other:last-child {
          padding-right: 4rem;
        }

        @media screen and (max-width: $home-page-mobile-breakpoint) {
          padding: 1rem $horizontal-inner-padding;
          gap: 0.75rem;

          .other:first-child, .other:last-child {
            padding-left: 2rem;
            padding-right: 2rem;
          }
        }
      }

      .text {
        flex: 2.3 0 0;
      }

      @media screen and (max-width: $home-page-mobile-breakpoint) {
        padding: 1rem 0 1.5rem;

        .h2 {
          padding-top: 3rem;
        }
      }
    }

    .three-col-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      padding: 2.5rem 0 1rem;

      @media screen and (max-width: $home-page-mobile-breakpoint) {
        padding: 1.25rem 0 0.5rem;
      }

      > div {
        flex: 33.33% 0 0;
        padding: 0.75rem 1rem;
        font-size: 1rem;

        > div > :first-child {
          margin-top: 0;
        }

        > div > :last-child,
        > div > :last-child > :last-child{
          margin-bottom: 0;
        }

        @media screen and (max-width: $home-page-mobile-breakpoint) {
          padding: 1rem 1rem;
          flex: 100% 0 0;
        }
      }
    }
  }
}
