body {
  overflow-y: scroll;
}

h1,
.markdown h1 {
  font-size: 2.125rem;
  font-weight: bold;
}

h2,
.markdown h2  {
  font-weight: bold;
  font-size: 1.5625rem;
}

h3,
.markdown h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.home-page-container {
  max-width: 62rem;
}

.home-page {
  .markdown {
    h1 {
      margin: 5rem 0 2rem;
      font-size: 2.5rem;
      text-align: center;
    }

    h1 + blockquote {
      margin-bottom: 3rem;
      text-align: center;
      border: none;
      font-style: italic;
      font-size: 1.25rem;
    }

    .features-section {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      margin: 0 -1rem 0;
      padding: 1rem 0;

      > div {
        flex: 25% 0 0;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;

        > div > :first-child {
          margin-top: 0;
        }

        > div > :last-child,
        > div > :last-child > :last-child{
          margin-bottom: 0;
        }

        @media screen and (max-width: $mobile-breakpoint) {
          flex: 100% 0 0;
        }
      }

      &.main-features > div {
        flex: 33.33% 0 0;
        padding: 0.75rem 1rem;
        font-size: 1rem;

        @media screen and (max-width: $mobile-breakpoint) {
          flex: 100% 0 0;
        }
      }
    }
  }
}
