body {
  overflow-y: scroll;
}

h1,
.markdown h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h2,
.markdown h2  {
  font-weight: bold;
  font-size: 1.375rem;
  font-size: 1.25rem;
  font-size: 1.3125rem;
}

h3,
.markdown h3 {
  font-size: 1.125rem;
  font-weight: bold;
}
