name: Build

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Ktlint
        run: ./gradlew ktlintCheck

      - name: Assemble
        run: ./gradlew assemble

      - name: Test
        run: ./gradlew test allTests

      - name: Build (the rest)
        run: ./gradlew build

      - name: Store reports (on failure)
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: reports
          path: |
            **/build/reports/
            **/build/test-results/

  dependency-submission:
    runs-on: ubuntu-22.04
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v3
